<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rapture.Therapy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rapture.Therapy.styles.css" asp-append-version="true" />
</head>
<body>
@*
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Rapture.Therapy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
*@

    <header class="headerRapture">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a href="/"><img src="/Images/Simba - 8 Percent.jpg" alt="Therapy.Rapture.global" title="Therapy.Rapture.global" style="height: 100px;" /></a>
            <h1 class="display-4" style="margin: 25px; color: orange;">Rapture Global - Therapy.</h1>
        </nav>
    </header>

    <div class="container bodyRapture">
        <div style="color: mediumvioletred;">
            @{
                DateTime UtcNow = DateTime.UtcNow;

                <text>[Server UTC] @UtcNow.ToString("dddd, d-MMM-yyyy", System.Globalization.DateTimeFormatInfo.InvariantInfo) - @UtcNow.ToString("h:mm:ss tt", System.Globalization.DateTimeFormatInfo.InvariantInfo) - </text>
                <script type="text/javascript">
			        <!--
				        var browserNow = new Date();
				        document.write("[Browser] " + browserNow.toDateString() + " - " + browserNow.toTimeString());
			        //-->
                </script>
                <br /><br />
            }
        </div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer footerRapture text-muted">
        <div>
            Copyright &copy; 2021<script type="text/javascript" language="javascript">
<!--
                if (browserNow.getFullYear() > 2021)
                    document.write("-" + browserNow.getFullYear());
//-->
            </script>
            Rapture Global. All Rights Reserved.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>