@page
@model IndexModel
@{
    ViewData["Title"] = "Therapy";
}

<div style="padding: 10px 10px 10px 10px;">
    <a target="_blank" href="/Images/Rapture - www.Canva.com - 2021-06-05-00.png"><img src="/Images/Rapture - www.Canva.com - 2021-06-05-00.png" alt="Current Rapture Business Card Template" title="Current Rapture Business Card Template" height="300" /></a>
    <br /><br />

    <h4 style="color: orange;">Welcome.</h4>

    <p style="color: mediumvioletred;">This Web Site is Coming Soon...</p>

    <p style="color: mediumvioletred;">In the Meantime, please Browse some <a target="_blank" href="/Preliminary/">Preliminary Resources</a>.</p>

    <p style="color: mediumvioletred;">And if you are feeling Curious or Adventurous, please feel free to check out some <a target="_blank" href="/Alpha/">Experimental Alpha Software</a>.</p>
</div>
